[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/mrbind-pybind11"]
	path = thirdparty/mrbind-pybind11
	url = https://github.com/MeshInspector/mrbind-pybind11
[submodule "thirdparty/mrbind"]
	path = thirdparty/mrbind
	url = https://github.com/MeshInspector/mrbind
[submodule "test_data"]
	path = test_data
	url = https://github.com/MeshInspector/MeshLibTestData.git
	update = none
	shallow = true
