.vs
x64
__pycache__
install
*.vcxproj.user
*.orig
*.aps
MRLog*.txt
build/*
install.log
installError.log
lib/*
include/*
share/*
bin/*
thirdparty_build/*
.vscode/*
distr/*
*.log
/docker/logs/
macos/Resources/LICENSE
