[submodule "thirdparty/cpr"]
	path = thirdparty/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "thirdparty/parallel-hashmap"]
	path = thirdparty/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "thirdparty/openvdb"]
	path = thirdparty/openvdb
	url = https://github.com/AcademySoftwareFoundation/openvdb.git
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/cantonios/eigen.git
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "thirdparty/expected"]
	path = thirdparty/expected
	url = https://github.com/Developer-Ecosystem-Engineering/expected.git
[submodule "thirdparty/wasmtbb"]
	path = thirdparty/wasmtbb
	url = https://github.com/hpcwasm/wasmtbb.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/libzip"]
	path = thirdparty/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "thirdparty/jsoncpp"]
	path = thirdparty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/glad"]
	path = thirdparty/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "thirdparty/clip"]
	path = thirdparty/clip
	url = https://github.com/dacap/clip.git
