# This is a basic workflow to help you get started with Actions

name: Build Test Distribute

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  WORKFLOW_BUILD_TEST_PATH: "MeshInspector/MeshLib/.github/workflows/build-test"
  WORKFLOW_BRANCH: "ubuntu22" # default branch is "master"

jobs:
  prepare-image:
    uses: MeshInspector/MeshLib/.github/workflows/prepare-images.yml@ubuntu22
    secrets:
      BUILD_MACHINE_TOKEN: ${{ secrets.BUILD_MACHINE_TOKEN }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  windows-build-test:
    needs: [ prepare-image ]
    uses: ${{ env.WORKFLOW_BUILD_TEST_PATH }}/windows.yml@${{ env.WORKFLOW_BRANCH }}
    with:
      image_tag: ${{needs.prepare-image.outputs.windows_image_tag}}

  ubuntu20-build-test:
    needs: [ prepare-image ]
    uses: ${{ env.WORKFLOW_BUILD_TEST_PATH }}/ubuntu20.yml@${{ env.WORKFLOW_BRANCH }}
    with:
      image_tag: ${{needs.prepare-image.outputs.image_tag}}

  ubuntu22-build-test:
    needs: [ prepare-image ]
    uses: ${{ env.WORKFLOW_BUILD_TEST_PATH }}/ubuntu22.yml@${{ env.WORKFLOW_BRANCH }}
    with:
      image_tag: ${{needs.prepare-image.outputs.image_tag}}

  fedora35-build-test:
    needs: [ prepare-image ]
    uses: ${{ env.WORKFLOW_BUILD_TEST_PATH }}/fedora35.yml@${{ env.WORKFLOW_BRANCH }}
    with:
      image_tag: ${{needs.prepare-image.outputs.image_tag}}

  macos-build-test:
    needs: [ prepare-image ]
    uses: ${{ env.WORKFLOW_BUILD_TEST_PATH }}/macos.yml@${{ env.WORKFLOW_BRANCH }}

  versioning-and-release-url:
    if: ${{ github.event_name == 'push' }}
    needs: [windows-build-test, ubuntu20-build-test, ubuntu22-build-test, fedora35-build-test]
    uses: MeshInspector/MeshLib/.github/workflows/versioning-release.yml@master
    secrets:
      BUILD_MACHINE_TOKEN: ${{ secrets.BUILD_MACHINE_TOKEN }}

  update-win-version:
    if: ${{ github.event_name == 'push' }}
    timeout-minutes: 15
    runs-on: windows-2019
    needs: [versioning-and-release-url]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with: 
          submodules: recursive
          
      - name: Download Windows Debug Binaries Archive
        uses: actions/download-artifact@v2
        with:
          name: WindowsArchiveDebug

      - name: Download Windows Release Binaries Archive
        uses: actions/download-artifact@v2
        with:
          name: WindowsArchiveRelease

      - name: Extract Windows Release Binaries Archive
        run: tar -xvzf MREDist_Release.zip

      - name: Extract Windows Debug Binaries Archive
        run: tar -xvzf MREDist_Debug.zip

      - name: Make Install Folder
        run: py -3.10 scripts\make_install_folder.py ${{needs.versioning-and-release-url.outputs.version_tag}}

      - name: Distribute
        run: py -3.10 scripts\zip_distribution.py MeshLibDist.zip

      - name: Upload Windows Distribution
        uses: actions/upload-artifact@v2
        with:
          name: WindowsDistribution
          path: MeshLibDist.zip
          retention-days: 1
          
  update-deb-version:
    if: ${{ github.event_name == 'push' }}
    timeout-minutes: 10
    runs-on: ubuntu-latest
    needs: [versioning-and-release-url, prepare-image]
    container:
      image: meshrus/meshlib-ubuntu:${{needs.prepare-image.outputs.image_tag}}
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with: 
          submodules: recursive

      - name: Install thirdparty libs
        run: ln -s /usr/local/lib/meshlib-thirdparty-lib/lib ./lib

      - name: Download Ubuntu Binaries Archive
        uses: actions/download-artifact@v2
        with:
          name: DebReleaseBinArchive

      - name: Extract Ubuntu Binaries Archive
        run: tar -xvf DebReleaseBin.tar

      - name: Create Deb
        run: ./scripts/distribution.sh ${{needs.versioning-and-release-url.outputs.version_tag}}
        env:
          MESHRUS_BUILD_RELEASE: ON
          MESHRUS_BUILD_DEBUG: OFF

      - name: Upload Ubuntu Developer Distribution
        uses: actions/upload-artifact@v2
        with:
          name: UbuntuDistribution
          path: ./distr/meshlib-dev.deb
          retention-days: 1
          
  update-rpm-version:
    if: ${{ github.event_name == 'push' }}
    timeout-minutes: 10
    runs-on: ubuntu-latest
    needs: [versioning-and-release-url, prepare-image]
    container:
      image: meshrus/meshlib-fedora:${{needs.prepare-image.outputs.image_tag}}
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with: 
          submodules: recursive

      - name: Install thirdparty libs
        run: ln -s /usr/local/lib/meshlib-thirdparty-lib/lib ./lib

      - name: Download Fedora Binaries Archive
        uses: actions/download-artifact@v2
        with:
          name: RpmReleaseBinArchive

      - name: Extract Fedora Binaries Archive
        run: tar -xvf RpmReleaseBin.tar

      - name: Create RPM
        run: ./scripts/distribution_rpm.sh ${{needs.versioning-and-release-url.outputs.version_tag}}
        env:
          MESHRUS_BUILD_RELEASE: ON
          MESHRUS_BUILD_DEBUG: OFF

      - name: Upload Fedora Developer Distribution
        uses: actions/upload-artifact@v2
        with:
          name: FedoraDistribution
          path: meshlib-dev.rpm
          retention-days: 1

  upload-distributions:
    if: ${{ github.event_name == 'push' }}
    timeout-minutes: 10
    runs-on: ubuntu-latest
    needs: [versioning-and-release-url, update-win-version, update-deb-version, update-rpm-version]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Download Windows Developer Distribution
        uses: actions/download-artifact@v2
        with:
          name: WindowsDistribution

      - name: Download Ubuntu Developer Distribution
        uses: actions/download-artifact@v2
        with:
          name: UbuntuDistribution

      - name: Download Fedora Developer Distribution
        uses: actions/download-artifact@v2
        with:
          name: FedoraDistribution

      - name: Rename Distributions
        run: |
          mv MeshLibDist.zip MeshLibDist_${{needs.versioning-and-release-url.outputs.version_tag}}.zip
          mv meshlib-dev.deb meshlib_${{needs.versioning-and-release-url.outputs.version_tag}}-dev.deb
          mv meshlib-dev.rpm meshlib_${{needs.versioning-and-release-url.outputs.version_tag}}-dev.rpm

      - name: Upload Distributions
        run: |
          echo ${{ secrets.BUILD_MACHINE_TOKEN }} | gh auth login --with-token
          gh release upload ${{needs.versioning-and-release-url.outputs.version_tag}} \
                            MeshLibDist_${{needs.versioning-and-release-url.outputs.version_tag}}.zip \
                            meshlib_${{needs.versioning-and-release-url.outputs.version_tag}}-dev.deb \
                            meshlib_${{needs.versioning-and-release-url.outputs.version_tag}}-dev.rpm

  delete-artifacts:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    needs: [upload-distributions]
    if: always()
    steps:
        # all Windows
      - name: Delete Windows Debug Install Archive artifact
        uses: geekyeggo/delete-artifact@v1
        with:
          name: WindowsArchiveDebug
          failOnError: false

      - name: Delete Windows Release Install Archive artifact
        uses: geekyeggo/delete-artifact@v1
        with:
          name: WindowsArchiveRelease
          failOnError: false

      - name: Delete Windows Developer Distribution
        uses: geekyeggo/delete-artifact@v1
        with:
          name: WindowsDistribution
          failOnError: false
          
        # all Ubuntu
      - name: Delete Ubuntu Binaries artifact
        uses: geekyeggo/delete-artifact@v1
        with:
          name: DebReleaseBinArchive
          failOnError: false

      - name: Delete Ubuntu Developer Distribution
        uses: geekyeggo/delete-artifact@v1
        with:
          name: UbuntuDistribution
          failOnError: false

        # all RPM
      - name: Delete Fedora Binaries artifact
        uses: geekyeggo/delete-artifact@v1
        with:
          name: RpmReleaseBinArchive
          failOnError: false

      - name: Delete Fedora Developer Distribution
        uses: geekyeggo/delete-artifact@v1
        with:
          name: FedoraDistribution
          failOnError: false
