name: Build and test MacOS

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      UPLOAD_ARTIFACTS:
        required: true
        type: boolean

jobs:
  macos-build-test:
    timeout-minutes: 60
    runs-on: [macos-latest]
    strategy:
      matrix:
        config: [Release]
        compiler: [Сlang]
        include:
          - compiler: Сlang
            cxx-compiler: /usr/bin/clang++
            c-compiler: /usr/bin/clang

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install thirdparty libs
        run: ./scripts/build_thirdparty.sh

      - name: Build
        run: ./scripts/build_source.sh
        env:
          MESHRUS_BUILD_RELEASE: ${{ fromJSON('["OFF", "ON"]')[matrix.config == 'Release'] }}
          MESHRUS_BUILD_DEBUG: ${{ fromJSON('["OFF", "ON"]')[matrix.config == 'Debug'] }}
          CMAKE_CXX_COMPILER: ${{ matrix.cxx-compiler }}
          # not realy needed
          CMAKE_C_COMPILER: ${{ matrix.c-compiler }}

      - name: Unit Tests
        run: ./build/${{ matrix.config }}/bin/MRTest

      - name: Python Tests
        working-directory: ./build/${{ matrix.config }}/bin
        run: python3 ./../../../scripts/run_python_test_script.py

      - name: Create and fix Wheel
        if: ${{ inputs.UPLOAD_ARTIFACTS && matrix.config == 'Release' }}
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install wheel setuptools delocate
          python3 ./scripts/wheel/setup_workspace.py
          cd ./scripts/wheel/meshlib
          python3 setup.py bdist_wheel --plat-name=macosx_10_15_x86_64 --python-tag=cp310  --version ${{inputs.version}}
          delocate-path meshlib
          cd ../../..
          delocate-wheel -w . -v ./scripts/wheel/meshlib/dist/*.whl

      - name: Upload Wheel to Artifacts
        if: ${{ inputs.UPLOAD_ARTIFACTS && matrix.config == 'Release' }}
        uses: actions/upload-artifact@v2
        with:
          name: Wheelhouse
          path: meshlib-*.whl
          retention-days: 1

      - name: Upload Wheel to Distributive
        if: ${{ inputs.UPLOAD_ARTIFACTS && matrix.config == 'Release' }}
        uses: actions/upload-artifact@v2
        with:
          name: Distributives
          path: meshlib-*.whl
          retention-days: 1