name: Build and test Ubuntu22

on:
  workflow_call:
    inputs:
      image_tag:
        required: true
        type: string

jobs:
  ubuntu22-build-test:
    timeout-minutes: 40
    runs-on: ubuntu-latest
    container:
      image: meshrus/meshlib-ubuntu22:${{inputs.image_tag}}
      options: --user root
      credentials:
        username: meshrus
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    strategy:
      matrix:
        config: [ Debug, Release ]
        compiler: [ 小lang 14, GCC 12 ]
        include:
          - compiler: 小lang 14
            cxx-compiler: /usr/bin/clang++-14
            c-compiler: /usr/bin/clang-14
          - compiler: GCC 12
            cxx-compiler: /usr/bin/g++-12
            c-compiler: /usr/bin/gcc-12

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install thirdparty libs
        run: ln -s /usr/local/lib/meshlib-thirdparty-lib/lib ./lib

      - name: Build
        run: ./scripts/build_source.sh
        env:
          MESHRUS_BUILD_RELEASE: ${{ fromJSON('["OFF", "ON"]')[matrix.config == 'Release'] }}
          MESHRUS_BUILD_DEBUG: ${{ fromJSON('["OFF", "ON"]')[matrix.config == 'Debug'] }}
          CMAKE_CXX_COMPILER: ${{ matrix.cxx-compiler }}
          # not realy needed
          CMAKE_C_COMPILER: ${{ matrix.c-compiler }}

      - name: Unit Tests
        run: ./build/${{ matrix.config }}/bin/MRTest

      - name: Python Tests
        working-directory: ./build/${{ matrix.config }}/bin
        run: python3 ./../../../scripts/run_python_test_script.py

      - name: Archive files # https://github.com/actions/download-artifact#maintaining-file-permissions-and-case-sensitive-files
        if: ${{ github.event_name == 'push' && matrix.compiler == '小lang 14' && matrix.config == 'Release'}}
        run: tar -cvf Ubuntu22${{matrix.config}}Bin.tar ./build/${{matrix.config}}/bin

      - name: Upload Ubuntu Binaries Archive
        if: ${{ github.event_name == 'push' && matrix.compiler == '小lang 14' && matrix.config == 'Release'}}
        uses: actions/upload-artifact@v2
        with:
          name: Ubuntu22${{matrix.config}}BinArchive
          path: Ubuntu22${{matrix.config}}Bin.tar
          retention-days: 1