name: Build and test on arm64 ubuntu20 and ubuntu22

on:
  workflow_call:
    inputs:
      docker_image_tag:
        required: true
        type: string
      app_version:
        required: true
        type: string
      full_config_build:
        default: false
        required: false
        type: boolean
      UPLOAD_ARTIFACTS:
        required: true
        type: boolean

jobs:
  ubuntu-arm-build-test:
    timeout-minutes: 40
    runs-on: [self-hosted, linux-arm64]
    container:
      image: ${{ matrix.docker-image }}
    strategy:
      matrix:
        os: [ ubuntu20, ubuntu22 ]
        config: [ Release ]
        compiler: [ clang ]
        include:
          - os: ubuntu20
            docker-image: meshlib/meshlib-ubuntu-arm64:${{inputs.docker_image_tag}}
            cxx-compiler: /usr/bin/clang++-11
            c-compiler: /usr/bin/clang-11
            use-cpp-23: "OFF"
          - os: ubuntu22
            docker-image: meshlib/meshlib-ubuntu22-arm64:${{inputs.docker_image_tag}}
            cxx-compiler: /usr/bin/clang++-14
            c-compiler: /usr/bin/clang-14
            use-cpp-23: "OFF"
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout

    env:
      UPLOAD_TEST_ARTIFACTS: ${{ contains(github.event.pull_request.labels.*.name, 'upload-test-artifacts') }}
      INTERNAL_BUILD: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository}}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install thirdparty libs
        run: |
          ln -s /usr/local/lib/meshlib-thirdparty-lib/lib ./lib
          ln -s /usr/local/lib/meshlib-thirdparty-lib/include ./include

      - name: Setup python requirements
        run: python3 -m pip install -r ./requirements/python.txt

      - name: Build
        run: ./scripts/build_source.sh
        env:
          MESHLIB_BUILD_RELEASE: ${{ fromJSON('["OFF", "ON"]')[matrix.config == 'Release'] }}
          MESHLIB_BUILD_DEBUG: ${{ fromJSON('["OFF", "ON"]')[matrix.config == 'Debug'] }}
          CMAKE_CXX_COMPILER: ${{ matrix.cxx-compiler }}
          # not realy needed
          CMAKE_C_COMPILER: ${{ matrix.c-compiler }}
          MR_VERSION: ${{ inputs.app_version }}
          MR_USE_CPP_23: ${{ matrix.use-cpp-23 }}

      - name: Collect Timings
        run: ./scripts/devops/collect_timing_logs.sh ${{matrix.os}}-arm64 ${{matrix.config}} "${{matrix.compiler}}"

      #Save timing in artifact
      - name: Upload Timings
        uses: actions/upload-artifact@v4
        with:
          name: Timing_Logs_${{matrix.os}}-arm64_${{matrix.config}}_${{matrix.compiler}}
          path: time_log/

      - name: Run Tests
        run: MR_LOCAL_RESOURCES=1 xvfb-run -a ./build/${{ matrix.config }}/bin/MeshViewer -hidden -noEventLoop

      - name: Unit Tests
        run: ./build/${{ matrix.config }}/bin/MRTest

      - name: Python Sanity Tests
        working-directory: ./build/${{ matrix.config }}/bin
        run: python3 ./../../../scripts/run_python_test_script.py -d '../test_python'

      - name: Configure AWS Credentials
        if: ${{ env.UPLOAD_TEST_ARTIFACTS == 'true' && env.INTERNAL_BUILD == 'true' }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::259351611210:role/GitHubMeshLibAwsCredsRole
          aws-region: us-east-1

      - name: Copy autotest data from S3 Tests
        if: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository}}
        run: aws s3 cp s3://data-autotest/test_data_2023-mar-07 ./test_data --recursive --no-sign-request

      - name: Python Regression Tests
        if: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository}}
        working-directory: ./build/${{ matrix.config }}/bin
        run: python3 ./../../../scripts/run_python_test_script.py -d '../test_regression'

      - name: Copy test artifacts to S3
        if: ${{ env.UPLOAD_TEST_ARTIFACTS == 'true' && env.INTERNAL_BUILD == 'true' && !cancelled() }}
        run: aws s3 cp ./pytest_temp 's3://test-artifacts-git/tests/${{github.run_id}}/ubuntu_arm64//${{matrix.os}}' --recursive

      - name: Create Deb
        if: ${{ inputs.UPLOAD_ARTIFACTS && matrix.compiler }}
        env:
          MESHLIB_BUILD_RELEASE: ON
          MESHLIB_BUILD_DEBUG: OFF
        run: |
          ./scripts/distribution.sh ${{inputs.app_version}}
          mv ./distr/meshlib-dev.deb meshlib-${{matrix.os}}-arm64-dev.deb

      - name: Upload Ubuntu Developer Distribution
        if: ${{ inputs.UPLOAD_ARTIFACTS }}
        uses: actions/upload-artifact@v4
        with:
          name: Distributives_${{matrix.os}}_arm64
          path: meshlib-${{matrix.os}}-arm64-dev.deb
          retention-days: 1
