name: Build and test MacOS

on:
  workflow_call:
    inputs:
      app_version:
        required: true
        type: string
      autotest_data_s3_url:
        default: "s3://data-autotest/test_data_2023-mar-07"
        required: false
        type: string
      UPLOAD_ARTIFACTS:
        required: true
        type: boolean

jobs:
  macos-build-test:
    timeout-minutes: 60
    # runs-on: macos-latest
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        os: [ x64, arm, our-arm ]
        config: [Release]
        compiler: [Clang]
        include:
          - compiler: Clang
            cxx-compiler: /usr/bin/clang++
            c-compiler: /usr/bin/clang
          - os: x64
            runner: macos-12
          - os: arm
            runner: macos-latest # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners
          - os: our-arm
            runner: macos-arm-build
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout

    env:
      UPLOAD_TEST_ARTIFACTS: ${{ contains(github.event.pull_request.labels.*.name, 'upload-test-artifacts') }}
      INTERNAL_BUILD: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository}}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install thirdparty libs
        run: brew install tmux htop
      
      - name: Install thirdparty libs
        run: ./scripts/build_thirdparty.sh

      - name: Create virtualenv
        run: |
          python3 -m venv .venv
          . .venv/bin/activate
          echo PATH=$PATH >> $GITHUB_ENV
          
      - name: Setup python requirements
        run: |
          curl -sS https://bootstrap.pypa.io/get-pip.py | python3
          python3 -m pip install -r ./requirements/python.txt
          python3 -m pip install pytest

      - name: Build
        run: ./scripts/build_source.sh
        env:
          MESHLIB_BUILD_RELEASE: ${{ fromJSON('["OFF", "ON"]')[matrix.config == 'Release'] }}
          MESHLIB_BUILD_DEBUG: ${{ fromJSON('["OFF", "ON"]')[matrix.config == 'Debug'] }}
          CMAKE_CXX_COMPILER: ${{ matrix.cxx-compiler }}
          # not realy needed
          CMAKE_C_COMPILER: ${{ matrix.c-compiler }}
          MR_VERSION: ${{ inputs.app_version }}
          MR_USE_CPP_23: "ON"

      - name: Run Start-and-Exit Tests
        if: ${{ matrix.os == 'our-arm' }}
        run: MR_LOCAL_RESOURCES=1 ./build/Release/bin/MeshViewer -hidden -noEventLoop

      - name: Unit Tests
        run: ./build/Release/bin/MRTest

      - name: Python Sanity Tests
        working-directory: ./build/Release/bin
        run: python3 ./../../../scripts/run_python_test_script.py -d '../test_python'

      - name: Configure AWS Credentials
        if: ${{ env.UPLOAD_TEST_ARTIFACTS == 'true' && env.INTERNAL_BUILD == 'true' }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::259351611210:role/GitHubMeshLibAwsCredsRole
          aws-region: us-east-1

      # cache managment: https://github.com/MeshInspector/MeshLib/actions/caches
      - name: Cache autotest data from S3 Tests
        if: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository}}
        id: cache-autotest
        uses: actions/cache@v4
        with:
          path: ./test_data
          key: ${{inputs.autotest_data_s3_url}}

      - name: Copy autotest data from S3 Tests
        if: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository}}
        run: aws s3 sync ${{inputs.autotest_data_s3_url}} ./test_data --delete --no-sign-request --size-only

      - name: Python Regression Tests
        env:
          SMOKE: ${{ env.INTERNAL_BUILD == 'true' && inputs.full_config_build == false && matrix.config == 'Debug' }}
        if: ${{ env.INTERNAL_BUILD == 'true' }}
        working-directory: ./build/Release/bin
        run: python3 ./../../../scripts/run_python_test_script.py -d '../test_regression' -s ${{env.SMOKE}}

      - name: Copy test artifacts to S3
        if: ${{ env.UPLOAD_TEST_ARTIFACTS == 'true' && env.INTERNAL_BUILD == 'true' && !cancelled() }}
        run: aws s3 cp ./pytest_temp 's3://test-artifacts-git/tests/${{github.run_id}}/macos/${{matrix.os}}' --recursive

      - name: Create Pkg
        if: ${{ inputs.UPLOAD_ARTIFACTS }}
        run: |
          ./scripts/distribution_apple.sh
          mv MeshLib_.pkg meshlib_${{matrix.os}}.pkg

      - name: Upload Macos Distribution
        if: ${{ inputs.UPLOAD_ARTIFACTS }}
        uses: actions/upload-artifact@v4
        with:
          name: Distributives_macos-${{matrix.os}}
          path: meshlib_${{matrix.os}}.pkg
          retention-days: 1
