name: Build and test MacOS

on:
  workflow_call:
    inputs:
      app_version:
        required: true
        type: string
      UPLOAD_ARTIFACTS:
        required: true
        type: boolean

jobs:
  macos-build-test:
    timeout-minutes: 60
    # runs-on: macos-latest
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        os: [ x64, arm ]
        config: [Release]
        compiler: [Сlang]
        include:
          - compiler: Сlang
            cxx-compiler: /usr/bin/clang++
            c-compiler: /usr/bin/clang
          - os: x64
            runner: macos-latest
          - os: arm
            runner: macos-arm-build
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install thirdparty libs
        run: ./scripts/build_thirdparty.sh

      - name: Build
        run: ./scripts/build_source.sh
        env:
          MESHLIB_BUILD_RELEASE: ${{ fromJSON('["OFF", "ON"]')[matrix.config == 'Release'] }}
          MESHLIB_BUILD_DEBUG: ${{ fromJSON('["OFF", "ON"]')[matrix.config == 'Debug'] }}
          CMAKE_CXX_COMPILER: ${{ matrix.cxx-compiler }}
          # not realy needed
          CMAKE_C_COMPILER: ${{ matrix.c-compiler }}
          MR_VERSION: ${{ inputs.app_version }}
          MR_USE_CPP_23: "ON"

      - name: Unit Tests
        run: ./build/Release/bin/MRTest

      - name: Python Sanity Tests
        working-directory: ./build/Release/bin
        run: python3 ./../../../scripts/run_python_test_script.py -d '../test_python'

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::259351611210:role/GitHubMeshLibAwsCredsRole
          aws-region: us-east-1

      - name: Copy autotest data from S3 Tests
        run: aws s3 cp s3://data-autotest/test_data_29-dec-23 ./test_data --recursive

      - name: Python Regression Tests
        working-directory: ./build/Release/bin
        run: python3 ./../../../scripts/run_python_test_script.py -d '../test_regression'

      - name: Create Pkg
        if: ${{ inputs.UPLOAD_ARTIFACTS }}
        run: |
          ./scripts/distribution_apple.sh
          mv MeshLib_.pkg meshlib_${{matrix.os}}.pkg

      - name: Upload Macos Distribution
        if: ${{ inputs.UPLOAD_ARTIFACTS }}
        uses: actions/upload-artifact@v4
        with:
          name: Distributives
          path: meshlib_${{matrix.os}}.pkg
          retention-days: 1
