name: Build and test on arm64 ubuntu20 and ubuntu22

on:
  workflow_call:
    inputs:
      app_version:
        required: true
        type: string
      docker_image_tag:
        required: true
        type: string
      full_config_build:
        default: false
        required: false
        type: boolean
      internal_build:
        required: false
        type: boolean
      upload_artifacts:
        required: true
        type: boolean
      upload_test_artifacts:
        required: true
        type: boolean
      mrbind:
        default: true
        required: false
        type: boolean
      mrbind_c:
        default: true
        required: false
        type: boolean

jobs:
  ubuntu-arm-build-test:
    timeout-minutes: 60
    runs-on: [ self-hosted, linux-arm64, spot, meshinspector ]
    container:
      image: ${{ matrix.docker-image }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu20, ubuntu22, ubuntu24 ]
        config: [ Release ]
        compiler: [ clang ]
        include:
          - os: ubuntu20
            docker-image: meshlib/meshlib-ubuntu20-arm64:${{ inputs.docker_image_tag }}
            cxx-compiler: /usr/bin/clang++-11
            c-compiler: /usr/bin/clang-11
            cxx-standard: 20
          - os: ubuntu22
            docker-image: meshlib/meshlib-ubuntu22-arm64:${{ inputs.docker_image_tag }}
            cxx-compiler: /usr/bin/clang++-14
            c-compiler: /usr/bin/clang-14
            cxx-standard: 20
          - os: ubuntu24
            docker-image: meshlib/meshlib-ubuntu24-arm64:${{ inputs.docker_image_tag }}
            cxx-compiler: /usr/bin/clang++-18
            c-compiler: /usr/bin/clang-18
            cxx-standard: 23
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout

    steps:
      - name: Work-around possible permission issues
        shell: bash
        run: |
          # NOTE: {GITHUB_WORKSPACE} != {{ github.workspace }}
          # Related issue: https://github.com/actions/runner/issues/2058
          if test -d $GITHUB_WORKSPACE && test -n "$(find ${GITHUB_WORKSPACE} -user root)" ; then
            mv ${GITHUB_WORKSPACE} ${GITHUB_WORKSPACE}_${RANDOM}
            mkdir ${GITHUB_WORKSPACE}
          fi

        # https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-data-retrieval.html
      - name: Get AWS instance type
        run: |
          TOKEN=$(curl -fsS --max-time 2 \
            -X PUT "http://169.254.169.254/latest/api/token" \
            -H "X-aws-ec2-metadata-token-ttl-seconds: 10" || true)

          AWS_INSTANCE_TYPE=$(curl -fsS --max-time 2 \
            -H "X-aws-ec2-metadata-token: $TOKEN" \
            "http://169.254.169.254/latest/meta-data/instance-type" || true)

          # if not an EC2 instance
          if test -z "$AWS_INSTANCE_TYPE" ; then
            AWS_INSTANCE_TYPE="self-hosted"
          fi

          echo "AWS_INSTANCE_TYPE=$AWS_INSTANCE_TYPE" >> $GITHUB_ENV
          echo $AWS_INSTANCE_TYPE

      - name: Checkout
        uses: actions/checkout@v5

      - name: Collect runner's system stats
        if: ${{ inputs.internal_build }}
        continue-on-error: true
        uses: ./.github/actions/collect-runner-stats
        with:
          target_os: ${{ matrix.os }}
          target_arch: arm64
          cxx_compiler: ${{ matrix.cxx-compiler }}
          build_config: ${{ matrix.config }}
          aws_instance_type: ${{ env.AWS_INSTANCE_TYPE }}

      - name: Checkout third-party submodules
        run: |
          # have to checkout selective submodules by our own
          # related issue: https://github.com/actions/checkout/issues/1779
          export HOME=${RUNNER_TEMP}
          git config --global --add safe.directory '*'
          git submodule update --init --recursive --depth 1 thirdparty/imgui thirdparty/parallel-hashmap thirdparty/mrbind-pybind11 thirdparty/mrbind

      - name: Install thirdparty libs
        run: |
          ln -s /usr/local/lib/meshlib-thirdparty-lib/lib ./lib
          ln -s /usr/local/lib/meshlib-thirdparty-lib/include ./include

      - name: Install MRBind
        if: ${{ inputs.mrbind || inputs.mrbind_c }}
        run: scripts/mrbind/install_mrbind_ubuntu.sh

      - name: Create virtualenv
        run: |
          python3 -m venv .venv
          . .venv/bin/activate
          python3 -m ensurepip --upgrade
          python3 -m pip install --upgrade pip
          echo $PATH >> $GITHUB_PATH

      - name: Setup python requirements
        run: python3 -m pip install -r ./requirements/python.txt

      - name: Generate C bindings
        if: ${{ inputs.mrbind_c }}
        env:
          CXX: ${{ matrix.cxx-compiler }}
        run: make -f scripts/mrbind/generate.mk TARGET=c -B --trace

      - name: Upload C bindings headers
        if: ${{ inputs.mrbind && matrix.os == 'ubuntu22' && matrix.config == 'Release' && matrix.compiler == 'clang' }}
        uses: actions/upload-artifact@v4
        with:
          name: CBindings
          path: ./source/MeshLibC2/include
          retention-days: 1

      - name: Build
        run: ./scripts/build_source.sh
        env:
          MESHLIB_BUILD_RELEASE: ${{ fromJSON('["OFF", "ON"]')[matrix.config == 'Release'] }}
          MESHLIB_BUILD_DEBUG: ${{ fromJSON('["OFF", "ON"]')[matrix.config == 'Debug'] }}
          CMAKE_CXX_COMPILER: ${{ matrix.cxx-compiler }}
          MR_VERSION: ${{ inputs.app_version }}
          # options to be passed to cmake
          MR_CMAKE_OPTIONS: >
            -DMR_CXX_STANDARD=${{ matrix.cxx-standard }}
            -DMR_PCH_USE_EXTRA_HEADERS=ON
            -DMESHLIB_BUILD_MRMESH_PY_LEGACY=${{ fromJSON('["ON", "OFF"]')[inputs.mrbind] }}
            -DMESHLIB_BUILD_GENERATED_C_BINDINGS=${{ fromJSON('["OFF", "ON"]')[inputs.mrbind_c] }}

      - name: Generate and build Python bindings
        if: ${{ inputs.mrbind }}
        env:
          CXX: ${{ matrix.cxx-compiler }}
        run: make -f scripts/mrbind/generate.mk MODE=none -B --trace MESHLIB_SHLIB_DIR=build/${{matrix.config}}/bin

      - name: Create Python Stubs
        if: ${{ inputs.mrbind && matrix.os == 'ubuntu22' && matrix.config == 'Release' && matrix.compiler == 'Clang' }}
        run: python3 ./scripts/wheel/create_stubs.py

      - name: Upload Python Stubs
        if: ${{ inputs.mrbind && matrix.os == 'ubuntu22' && matrix.config == 'Release' && matrix.compiler == 'clang' }}
        uses: actions/upload-artifact@v4
        with:
          name: PythonStubs
          path: ./scripts/wheel/meshlib/meshlib/*.pyi
          retention-days: 1

      - name: Collect Timings
        run: ./scripts/devops/collect_timing_logs.sh ${{matrix.os}}-arm64 ${{matrix.config}} "${{matrix.compiler}}"

      #Save timing in artifact
      - name: Upload Timings
        uses: actions/upload-artifact@v4
        with:
          name: Timing_Logs_${{matrix.os}}-arm64_${{matrix.config}}_${{matrix.compiler}}
          path: time_log/

      - name: Run Start-and-Exit Tests
        timeout-minutes: 3
        run: MR_LOCAL_RESOURCES=1 xvfb-run -a ./build/${{ matrix.config }}/bin/MeshViewer -hidden -noEventLoop -unloadPluginsAtEnd

      - name: Unit Tests
        run: ./build/${{ matrix.config }}/bin/MRTest

      - name: C Unit Tests (old bindings)
        run: ./build/${{ matrix.config }}/bin/MRTestC

      - name: C Unit Tests
        if: ${{ inputs.mrbind_c }}
        run: ./build/${{ matrix.config }}/bin/MRTestC2

      - name: Python Sanity Tests
        timeout-minutes: 8
        working-directory: ./build/${{ matrix.config }}/bin
        run: python3 ./../../../scripts/run_python_test_script.py -d '../test_python'

      - name: Python Regression Tests
        if: ${{ inputs.internal_build }}
        uses: ./.github/actions/python-regression-tests
        with:
          build_config: ${{ matrix.config }}
          mrbind: ${{ inputs.mrbind }}
          pytest_args: "--run-cuda=negative"
          smoke: ${{ !inputs.full_config_build && matrix.config == 'Debug' }}
          test_artifacts_path: ubuntu_arm64/${{ matrix.os }}
          ubuntu20_arm_workaround: ${{ inputs.mrbind && matrix.os == 'ubuntu20' }}
          upload_test_artifacts: ${{ inputs.upload_test_artifacts }}

      - name: Create Deb
        env:
          MESHLIB_BUILD_RELEASE: "ON"
          MESHLIB_BUILD_DEBUG: "OFF"
        run: |
          ./scripts/distribution.sh ${{ inputs.app_version }}
          mv ./distr/meshlib-dev.deb meshlib_${{matrix.os}}-arm64-dev.deb

      - name: Extract Deb
        run: dpkg --extract meshlib_${{matrix.os}}-arm64-dev.deb $(pwd)/meshlib_install/

      - name: Build C++ examples and samples
        run: |
          cmake \
            -S examples/cpp-examples \
            -B cpp-examples-build \
            -D CMAKE_FIND_ROOT_PATH=$(pwd)/meshlib_install/ \
            -D CMAKE_CXX_COMPILER=${{ matrix.cxx-compiler }}
          cmake \
            --build cpp-examples-build \
            --parallel $(nproc)
          cmake \
            -S examples/cpp-samples \
            -B cpp-samples-build \
            -D CMAKE_FIND_ROOT_PATH=$(pwd)/meshlib_install/ \
            -D CMAKE_CXX_COMPILER=${{ matrix.cxx-compiler }}
          cmake \
            --build cpp-samples-build \
            --parallel $(nproc)

      - name: Build C examples
        run: |
          cmake \
            -S examples/c-examples \
            -B c-examples-build \
            -D CMAKE_FIND_ROOT_PATH=$(pwd)/meshlib_install/ \
            -D CMAKE_C_COMPILER=${{ matrix.c-compiler }}
          cmake \
            --build c-examples-build \
            --parallel $(nproc)

      - name: Upload Ubuntu Developer Distribution
        if: ${{ inputs.upload_artifacts }}
        uses: actions/upload-artifact@v4
        with:
          name: Distributives_${{matrix.os}}_arm64
          path: meshlib_${{matrix.os}}-arm64-dev.deb
          retention-days: 1
