name: Build and test Ubuntu20

on:
  workflow_call:
    inputs:
      image_tag:
        required: true
        type: string

jobs:
  ubuntu20-build-test:
    timeout-minutes: 40
    runs-on: ubuntu-latest
    container:
      image: meshrus/meshlib-ubuntu:${{inputs.image_tag}}
      options: --user root
    strategy:
      matrix:
        config: [Debug, Release]
        compiler: [Clang 11, GCC 10]
        include:
          - compiler: Clang 11
            cxx-compiler: /usr/bin/clang++-11
            c-compiler: /usr/bin/clang-11
          - compiler: GCC 10
            cxx-compiler: /usr/bin/g++-10
            c-compiler: /usr/bin/gcc-10

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install thirdparty libs
        run: ln -s /usr/local/lib/meshlib-thirdparty-lib/lib ./lib

      - name: Build
        run: ./scripts/build_source.sh
        env:
          MESHRUS_BUILD_RELEASE: ${{ fromJSON('["OFF", "ON"]')[matrix.config == 'Release'] }}
          MESHRUS_BUILD_DEBUG: ${{ fromJSON('["OFF", "ON"]')[matrix.config == 'Debug'] }}
          CMAKE_CXX_COMPILER: ${{ matrix.cxx-compiler }}
          # not realy needed
          CMAKE_C_COMPILER: ${{ matrix.c-compiler }}

      - name: Collect Timings
        run: |
          inFolder=./build/${{matrix.config}}/
          outFolder=./build/${{matrix.config}}/${{ fromJSON('["Clang_11", "GCC_10"]')[matrix.compiler == 'GCC 10'] }}/Timings
          mkdir $outFolder
          folderList=(MRCommonPlugins mrviewerpy MRTest MRViewerApp MRViewer mrmeshpy meshconv mrmeshnumpy MRMesh)
          for folder in ${folderList}
          do
            mkdir $outFolder/$folder
            cp $inFolder/$folder/compile_timings.txt $outFolder/$folder/compile_timings.txt
            cp $inFolder/$folder/link_timings.txt $outFolder/$folder/link_timings.txt
          done
          currentWd=`pwd`
          cd $outFolder/..
          zip Ubuntu20_${{matrix.config}}_${{ fromJSON('["Clang_11", "GCC_10"]')[matrix.compiler == 'GCC 10'] }}_timings.zip $outFolder
          cd $currentWd

      #Save timing in artifact
      - name: Upload timing
        uses: actions/upload-artifact@v2
        with:
          name: Ubuntu20_${{matrix.config}}_${{ fromJSON('["Clang_11", "GCC_10"]')[matrix.compiler == 'GCC 10'] }}_timings
          path: Ubuntu20_${{matrix.config}}_${{ fromJSON('["Clang_11", "GCC_10"]')[matrix.compiler == 'GCC 10'] }}_timings.zip
          retention-days: 1

      - name: Run Tests
        run: xvfb-run -a ./build/${{ matrix.config }}/bin/MeshViewer -hidden -noEventLoop

      - name: Unit Tests
        run: ./build/${{ matrix.config }}/bin/MRTest

      - name: Python Tests
        working-directory: ./build/${{ matrix.config }}/bin
        run: python3 ./../../../scripts/run_python_test_script.py

      - name: Archive files # https://github.com/actions/download-artifact#maintaining-file-permissions-and-case-sensitive-files
        if: ${{ github.event_name == 'push' && matrix.compiler == 'GCC 10' && matrix.config == 'Release'}}
        run: tar -cvf Ubuntu20${{matrix.config}}Bin.tar ./build/${{matrix.config}}/bin

      - name: Upload Ubuntu Binaries Archive
        if: ${{ github.event_name == 'push' && matrix.compiler == 'GCC 10' && matrix.config == 'Release'}}
        uses: actions/upload-artifact@v2
        with:
          name: Ubuntu20${{matrix.config}}BinArchive
          path: Ubuntu20${{matrix.config}}Bin.tar
          retention-days: 1
