name: Build and test Fedora35

on:
  workflow_call:
    inputs:
      image_tag:
        required: true
        type: string
      version:
        required: true
        type: string
      UPLOAD_ARTIFACTS:
        required: true
        type: boolean

jobs:
  fedora35-build-test:
    timeout-minutes: 40
    runs-on: ubuntu-latest
    container:
      image: meshrus/meshlib-fedora:${{inputs.image_tag}}
      options: --user root
    strategy:
      matrix:
        config: [Debug, Release]
        compiler: [Clang 13, GCC 11]
        include:
          - compiler: Clang 13
            cxx-compiler: /usr/bin/clang++-13
            c-compiler: /usr/bin/clang-13
          - compiler: GCC 11
            cxx-compiler: /usr/bin/g++
            c-compiler: /usr/bin/gcc

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install thirdparty libs
        run: |
          ln -s /usr/local/lib/meshlib-thirdparty-lib/lib ./lib
          ln -s /usr/local/include/meshlib-thirdparty-include/include ./include
          ./scripts/install_thirdparty.sh

      - name: Build
        run: ./scripts/build_source.sh
        env:
          MESHRUS_BUILD_RELEASE: ${{ fromJSON('["OFF", "ON"]')[matrix.config == 'Release'] }}
          MESHRUS_BUILD_DEBUG: ${{ fromJSON('["OFF", "ON"]')[matrix.config == 'Debug'] }}
          CMAKE_CXX_COMPILER: ${{ matrix.cxx-compiler }}
          # not realy needed
          CMAKE_C_COMPILER: ${{ matrix.c-compiler }}

      - name: Collect Timings
        run: ./scripts/devops/collect_timing_logs.sh fedora35 ${{matrix.config}} "${{matrix.compiler}}"

      #Save timing in artifact
      - name: Upload Timings
        uses: actions/upload-artifact@v3
        with:
          name: Timing_Logs
          path: time_log/

      - name: Run Tests
        run: xvfb-run -a ./build/${{ matrix.config }}/bin/MeshViewer -hidden -noEventLoop

      - name: Unit Tests
        run: ./build/${{ matrix.config }}/bin/MRTest

      - name: Python Tests
        working-directory: ./build/${{ matrix.config }}/bin
        run: python3 ./../../../scripts/run_python_test_script.py

      - name: Create RPM
        if: ${{ inputs.UPLOAD_ARTIFACTS && matrix.compiler == 'GCC 11' && matrix.config == 'Release'}}
        run: ./scripts/distribution_rpm.sh ${{inputs.version}}
        env:
          MESHRUS_BUILD_RELEASE: ON
          MESHRUS_BUILD_DEBUG: OFF

      - name: Upload Fedora Developer Distribution
        if: ${{ inputs.UPLOAD_ARTIFACTS && matrix.compiler == 'GCC 11' && matrix.config == 'Release'}}
        uses: actions/upload-artifact@v3
        with:
          name: Distributives
          path: meshlib-dev.rpm
          retention-days: 1