name: Build and test Ubuntu x64

on:
  workflow_call:
    inputs:
      app_version:
        required: true
        type: string
      config_matrix:
        required: true
        type: string
      docker_image_tag:
        required: true
        type: string
      full_config_build:
        default: false
        required: false
        type: boolean
      internal_build:
        required: false
        type: boolean
      upload_artifacts:
        required: true
        type: boolean
      upload_test_artifacts:
        required: true
        type: boolean
      mrbind:
        default: true
        required: false
        type: boolean
      mrbind_c:
        default: true
        required: false
        type: boolean
      nuget_build_patch:
        default: false
        required: false
        type: boolean

jobs:
  ubuntu-x64-build-test:
    timeout-minutes: 60
    runs-on: [ubuntu-latest]
    container:
      image: meshlib/meshlib-${{matrix.os}}:${{inputs.docker_image_tag}}
      options: --user root
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON( inputs.config_matrix ) }}
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout

    steps:
      - name: Display job info
        run: echo "Building on ${{ matrix.os }} with ${{ matrix.compiler }} in ${{ matrix.config }} mode"

      - name: Checkout
        uses: actions/checkout@v5

      - name: Collect runner's system stats
        if: ${{ inputs.internal_build }}
        continue-on-error: true
        uses: ./.github/actions/collect-runner-stats
        with:
          target_os: ${{ matrix.os }}
          target_arch: x64
          cxx_compiler: ${{ matrix.cxx-compiler }}
          build_config: ${{ matrix.config }}

      - name: Checkout third-party submodules
        run: |
          # have to checkout selective submodules by our own
          # related issue: https://github.com/actions/checkout/issues/1779
          export HOME=${RUNNER_TEMP}
          git config --global --add safe.directory '*'
          git submodule update --init --recursive --depth 1 thirdparty/imgui thirdparty/parallel-hashmap thirdparty/mrbind-pybind11 thirdparty/mrbind

      - name: Install thirdparty libs
        run: |
          ln -s /usr/local/lib/meshlib-thirdparty-lib/lib ./lib
          ln -s /usr/local/lib/meshlib-thirdparty-lib/include ./include

      - name: Install MRBind
        if: ${{ inputs.mrbind || inputs.mrbind_c }}
        run: scripts/mrbind/install_mrbind_ubuntu.sh

      - name: Create virtualenv
        run: |
          python3 -m venv .venv
          . .venv/bin/activate
          python3 -m ensurepip --upgrade
          python3 -m pip install --upgrade pip
          echo PATH=$PATH >> $GITHUB_ENV

      - name: Setup python requirements
        run: python3 -m pip install -r ./requirements/python.txt

      - name: Generate C bindings
        if: ${{ inputs.mrbind_c }}
        env:
          CXX: ${{ matrix.cxx-compiler }}
          ENABLE_CUDA: ${{ fromJSON('{"ON":1, "OFF":0}') [matrix.build_mrcuda] }}
        run: make -f scripts/mrbind/generate.mk TARGET=c -B --trace MESHLIB_SHLIB_DIR=build/${{matrix.config}}/bin

      - name: Build
        run: ./scripts/build_source.sh
        env:
          MESHLIB_BUILD_RELEASE: ${{ fromJSON('["OFF", "ON"]')[matrix.config == 'Release'] }}
          MESHLIB_BUILD_DEBUG: ${{ fromJSON('["OFF", "ON"]')[matrix.config == 'Debug'] }}
          CMAKE_CXX_COMPILER: ${{ matrix.cxx-compiler }}
          MR_VERSION: ${{ inputs.app_version }}
          # options to be passed to cmake
          MR_CMAKE_OPTIONS: >
            -DMR_CXX_STANDARD=${{ matrix.cxx-standard }}
            -DMESHLIB_BUILD_MRCUDA=${{ matrix.build_mrcuda }}
            -DMR_PCH_USE_EXTRA_HEADERS=ON
            -DMESHLIB_BUILD_MRMESH_PY_LEGACY=${{ fromJSON('["ON", "OFF"]')[inputs.mrbind] }}
            -DMESHLIB_BUILD_GENERATED_C_BINDINGS=${{ fromJSON('["OFF", "ON"]')[inputs.mrbind_c] }}

      - name: Generate and build Python bindings
        if: ${{ inputs.mrbind }}
        env:
          CXX: ${{ matrix.cxx-compiler }}
          ENABLE_CUDA: ${{ fromJSON('{"ON":1, "OFF":0}') [matrix.build_mrcuda] }}
        run: make -f scripts/mrbind/generate.mk MODE=none -B --trace MESHLIB_SHLIB_DIR=build/${{matrix.config}}/bin ENABLE_CUDA=${{env.ENABLE_CUDA}}

      - name: Collect Timings
        run: ./scripts/devops/collect_timing_logs.sh ${{matrix.os}} ${{matrix.config}} "${{matrix.cxx-compiler}}"

      #Save timing in artifact
      - name: Upload Timings
        uses: actions/upload-artifact@v4
        with:
          name: Timing_Logs_${{matrix.os}}-x86_${{matrix.config}}_${{matrix.cxx-compiler}}
          path: time_log/

      - name: Run Start-and-Exit Tests
        timeout-minutes: 3
        run: MR_LOCAL_RESOURCES=1 xvfb-run -a ./build/${{ matrix.config }}/bin/MeshViewer -hidden -noEventLoop -unloadPluginsAtEnd

      - name: Unit Tests
        run: ./build/${{ matrix.config }}/bin/MRTest

      - name: C Unit Tests (old bindings)
        run: ./build/${{ matrix.config }}/bin/MRTestC

      - name: C Unit Tests
        if: ${{ inputs.mrbind_c }}
        run: ./build/${{ matrix.config }}/bin/MRTestC2

      - name: Python Sanity Tests
        timeout-minutes: 8
        working-directory: ./build/${{ matrix.config }}/bin
        run: python3 ./../../../scripts/run_python_test_script.py -d '../test_python'

      - name: Python Regression Tests
        if: ${{ inputs.internal_build }}
        env:
          RUN_CUDA_ARG: "--run-cuda=negative"
        uses: ./.github/actions/python-regression-tests
        with:
          build_config: ${{ matrix.config }}
          mrbind: ${{ inputs.mrbind }}
          pytest_args: ${{ env.RUN_CUDA_ARG }}
          smoke: ${{ !inputs.full_config_build && matrix.config == 'Debug' }}
          test_artifacts_path: ${{ matrix.os }}/${{matrix.config}}/${{matrix.compiler}}
          upload_test_artifacts: ${{ inputs.upload_test_artifacts }}

      - name: Create Deb
        if: ${{ matrix.compiler == 'GCC' && matrix.config == 'Release' }}
        env:
          MESHLIB_BUILD_RELEASE: "ON"
          MESHLIB_BUILD_DEBUG: "OFF"
        run: |
          ./scripts/distribution.sh ${{inputs.app_version}}
          mv ./distr/meshlib-dev.deb meshlib_${{matrix.os}}-dev.deb

      - name: Extract Deb
        if: ${{ matrix.compiler == 'GCC' && matrix.config == 'Release' }}
        run: dpkg --extract meshlib_${{matrix.os}}-dev.deb $(pwd)/meshlib_install/

      - name: Build C++ examples and samples
        if: ${{ matrix.compiler == 'GCC' && matrix.config == 'Release' }}
        run: |
          cmake \
            -S examples/cpp-examples \
            -B cpp-examples-build \
            -D CMAKE_FIND_ROOT_PATH=$(pwd)/meshlib_install/ \
            -D CMAKE_CXX_COMPILER=${{ matrix.cxx-compiler }}
          cmake \
            --build cpp-examples-build \
            --parallel $(nproc)
          cmake \
            -S examples/cpp-samples \
            -B cpp-samples-build \
            -D CMAKE_FIND_ROOT_PATH=$(pwd)/meshlib_install/ \
            -D CMAKE_CXX_COMPILER=${{ matrix.cxx-compiler }}
          cmake \
            --build cpp-samples-build \
            --parallel $(nproc)

      - name: Build C examples
        if: ${{ matrix.compiler == 'GCC' && matrix.config == 'Release' }}
        run: |
          cmake \
            -S examples/c-examples \
            -B c-examples-build \
            -D CMAKE_FIND_ROOT_PATH=$(pwd)/meshlib_install/ \
            -D CMAKE_C_COMPILER=${{ matrix.c-compiler }}
          cmake \
            --build c-examples-build \
            --parallel $(nproc)

      - name: Upload Ubuntu Developer Distribution
        if: ${{ inputs.upload_artifacts && matrix.upload_release == 'ON' && matrix.compiler == 'GCC' && matrix.config == 'Release' }}
        uses: actions/upload-artifact@v4
        with:
          name: Distributives_${{matrix.os}}-x86
          path: meshlib_${{matrix.os}}-dev.deb
          retention-days: 1

      - name: Create and fix fake Wheel for NuGet
        if: ${{ inputs.nuget_build_patch && matrix.os == 'ubuntu20' && matrix.upload_release == 'ON' && matrix.compiler == 'GCC' && matrix.config == 'Release' }}
        shell: bash
        run: |
          python3 -m venv ./wheel_venv
          source ./wheel_venv/bin/activate
          python3 -m pip install auditwheel
          python3 ./scripts/nuget_patch/patch_library_deps.py "./build/Release/bin/libMRMeshC.so" "./patched_content/"

      - name: Upload NuGet files to Artifacts
        if: ${{ inputs.nuget_build_patch && matrix.os == 'ubuntu20' && matrix.upload_release == 'ON' && matrix.compiler == 'GCC' && matrix.config == 'Release' }}
        uses: actions/upload-artifact@v4
        with:
          name: DotNetPatchArchiveLinux-x64
          path: ./patched_content/*
          retention-days: 1
