
name: Nightly Tests

on:
  schedule:
    - cron:  '20 4 * * *'
  workflow_dispatch:

jobs:
  pip-test:
    timeout-minutes: 20
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-20.04] #, macos-latest]
        config: [Release, Test]
        include:
          - os: windows-latest
            py-version: "3.10"
            py-cmd: py -3.10
          - os: ubuntu-20.04
            py-version: "3.8"
            py-cmd: python3
          #- os: macos-latest
           # py-version: "3.10"
            #py-cmd: python3
          - config: Release
            pip-options: ""
          - config: Test
            pip-options: "-i https://test.pypi.org/simple/ --no-deps"
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Python setup
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.py-version }}

      - name: Install pip package
        run: |
          ${{ matrix.py-cmd }} -m pip install --upgrade pip
          ${{ matrix.py-cmd }} -m pip uninstall -y meshlib
          ${{ matrix.py-cmd }} -m pip install --upgrade -r ./requirements/python.txt     
          ${{ matrix.py-cmd }} -m pip install ${{ matrix.pip-options }} meshlib

      - name: Run Python tests
        run: ${{ matrix.py-cmd }} ./scripts/run_python_test_script.py



  install-test:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    container:
      image: ${{matrix.container}}
      options: --user root
    strategy:
      fail-fast: false
      matrix:
        os: [Ubuntu20, Ubuntu22, Fedroa35]
        include:
          - os: Ubuntu20
            container: ubuntu:20.04
            fileName: "*ubuntu20*"
            updateCmd: apt-get -y update && apt-get -y upgrade
            installCmd: apt-get install ./*.deb
          - os: Ubuntu22
            container: ubuntu:22.04
            fileName: "*ubuntu20*"
            updateCmd: apt-get -y update && apt-get -y upgrade
            installCmd: apt-get install ./*.deb
          - os: Fedroa35
            container: fedora:35
            fileName: "*-dev.rpm"
            updateCmd: dnf --refresh -y upgrade
            installCmd: dnf install ./*.rpm
    steps:
      - name: Download Release
        uses: robinraju/release-downloader@v1.5
        with:
          repository: MeshInspector/MeshLib
          latest: true
          fileName: ${{matrix.fileName}}
          out-file-path: ""

      - name: Install Release
        run: |
          ${{matrix.updateCmd}}
          ${{matrix.installCmd}}

      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

