name: Build Manylinux Pip

on:
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  setup:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    outputs:
      version_tag: ${{ steps.get-latest-tag.outputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions-ecosystem/action-get-latest-tag@v1
        id: get-latest-tag


  manylinux-pip:
    needs: setup
    timeout-minutes: 25
    runs-on: ubuntu-latest
    container:
      image: meshrus/meshlib-ubuntu:latest
      options: --user root
    strategy:
      fail-fast: false
      matrix:
        py-version: ["3.8", "3.9", "3.10" ]
        include:
          - py-version: "3.8"
            py-tag: "cp38"
            py-cmd: "python3.8"
          - py-version: "3.9"
            py-tag: "cp39"
            py-cmd: "python3.9"
          - py-version: "3.10"
            py-tag: "cp310"
            py-cmd: "python3.10"

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Python setup
        if: ${{ matrix.py-version != '3.8' }}
        run: |
          apt -y update && apt -y upgrade && apt -y install software-properties-common
          add-apt-repository -y ppa:deadsnakes/ppa && apt -y install ${{ matrix.py-cmd }}-dev ${{ matrix.py-cmd }}-distutils

      - name: Pip setup
        run: |
          curl -sS https://bootstrap.pypa.io/get-pip.py | ${{ matrix.py-cmd }}
          ${{ matrix.py-cmd }} -m pip install --upgrade -r ./requirements/python.txt 

      - name: Install thirdparty libs
        run: ln -s /usr/local/lib/meshlib-thirdparty-lib/lib ./lib

      - name: Build
        run: ./scripts/build_source.sh
        env:
          MESHLIB_PYTHON_VERSION: ${{matrix.py-version}}
          MESHRUS_BUILD_RELEASE: "ON"
          MESHRUS_BUILD_DEBUG: "OFF"
          CMAKE_CXX_COMPILER: /usr/bin/g++-10
          # not realy needed
          CMAKE_C_COMPILER: /usr/bin/gcc-10

      - name: Run Tests
        run: xvfb-run -a ./build/Release/bin/MeshViewer -hidden -noEventLoop

      - name: Unit Tests
        run: ./build/Release/bin/MRTest

      - name: Python Tests
        working-directory: ./build/Release/bin
        run: ${{ matrix.py-cmd }} ./../../../scripts/run_python_test_script.py -cmd ${{ matrix.py-cmd }}

      - name: Create and fix Wheel
        run: |
          ${{ matrix.py-cmd }} -m pip install auditwheel wheel setuptools
          ${{ matrix.py-cmd }} ./scripts/wheel/setup_workspace.py 
          cd ./scripts/wheel/meshlib
          ${{ matrix.py-cmd }} setup.py bdist_wheel --python-tag=${{matrix.py-tag}} --version ${{needs.setup.outputs.version_tag}}
          ${{ matrix.py-cmd }} -m auditwheel repair --plat manylinux_2_31_x86_64 ./dist/*.whl

      - name: Upload to Test Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ManyLinux-${{ matrix.py-cmd }}
          path: ./scripts/wheel/meshlib/wheelhouse/meshlib-*.whl
          retention-days: 1

      - name: Upload to Release Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Wheelhouse
          path: ./scripts/wheel/meshlib/wheelhouse/meshlib-*.whl
          retention-days: 1

  release-tests:
    needs: manylinux-pip
    uses: MeshInspector/MeshLib/.github/workflows/release-tests.yml@master

  upload-to-release:
    needs: release-tests
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Download Wheels Artifacts
        uses: actions/download-artifact@v3
        with:
          name: Wheelhouse

      - name: Install twine
        run: python3 -m pip install --upgrade pip twine

      - name: Upload to Production PyPi
        run: twine upload ./meshlib-*.whl -u MeshInspector -p ${{ secrets.PIP_TEST_REPO_PASS }} --skip-existing

  delete-artifacts:
    timeout-minutes: 5
    runs-on: ubuntu-20.04
    needs: upload-to-release
    if: always()
    steps:
      - name: Delete Wheelhouse
        uses: geekyeggo/delete-artifact@v1
        with:
          name: Wheelhouse
          failOnError: false

      - name: Delete Python3.8
        uses: geekyeggo/delete-artifact@v1
        with:
          name: ManyLinux-python3.8
          failOnError: false

      - name: Delete Python3.9
        uses: geekyeggo/delete-artifact@v1
        with:
          name: ManyLinux-python3.9
          failOnError: false

      - name: Delete Python3.10
        uses: geekyeggo/delete-artifact@v1
        with:
          name: ManyLinux-python3.10
          failOnError: false
