name: Prepare images

on:
  workflow_call:
    secrets:
      BUILD_MACHINE_TOKEN:
        required: false
      DOCKERHUB_TOKEN:
        required: false
    outputs:
      image_tag:
        description: "linux image for testing"
        value: ${{ jobs.image-select.outputs.image_tag }}
      windows_image_tag:
        description: "windows image for testing"
        value: ${{ jobs.image-select.outputs.windows_image_tag }}

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  image-select:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.select-tag.outputs.image_tag }}
      windows_image_tag: ${{ steps.select-tag.outputs.windows_image_tag }}
      image_path: ${{ steps.set-path.outputs.image_path }}
      need_linux_rebuild: ${{ steps.need-rebuild.outputs.need_linux_rebuild }}
      need_windows_rebuild: ${{ steps.need-rebuild.outputs.need_windows_rebuild }}
      matrix: ${{ steps.matrix-set.outputs.matrix}}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Filter Linux paths
        uses: dorny/paths-filter@v2
        id: linux-changes
        with:
          filters: |
            src:
              - 'docker/ubuntu**'
              - 'docker/fedora**'
              - 'docker/emscripten**'
              - 'requirements/!(windows.txt|macos.txt)'              
              - 'scripts/build_thirdparty.sh'    
              - 'scripts/install_apt_requirements.sh'
              - 'scripts/install_dnf_requirements.sh'
              - 'thirdparty/!(install.bat|vcpkg/**)'

      - name: Filter Windows paths
        uses: dorny/paths-filter@v2
        id: windows-changes
        with:
          filters: |
            src:
              - 'requirements/windows.txt'
              - 'thirdparty/vcpkg/**'
              - 'thirdparty/install.bat'

      - name: Get branch names
        if: ${{steps.linux-changes.outputs.src == 'true' || steps.windows-changes.outputs.src == 'true'}}
        id: branch-name
        uses: tj-actions/branch-names@v6.4

      # if nothing to rebuild: "latest"
      # else: $branch-name | sed -r 's/[^a-zA-Z0-9._-]+/-/
      # example: fix/mesh -> fix-mesh
      - name: Select image tag
        id: select-tag
        run: |
          echo "image_tag=$([ ${{steps.linux-changes.outputs.src}} == 'true' ] && [ ${{github.event_name}} != 'push' ] && echo "${{steps.branch-name.outputs.current_branch}}" | sed -r 's/[^a-zA-Z0-9._-]+/-/g' || \
          echo "latest")" >> $GITHUB_OUTPUT

      - name: Set image tag base path
        id: set-path
        run: |
          repo_path="MeshLib/MeshLib"
          echo "image_path=${repo_path,,}" >> $GITHUB_OUTPUT

      - name: Checking whether to start image rebuild
        id: need-rebuild
        run: |
          echo "need_linux_rebuild=${{steps.linux-changes.outputs.src == 'true'}}" >> $GITHUB_OUTPUT
          echo "need_windows_rebuild=${{steps.windows-changes.outputs.src == 'true'}}" >> $GITHUB_OUTPUT

        #                    [os,     runner-label ]
        # for MeshLib:       [ubuntu, ubuntu-latest], [fedora, ubuntu-latest], [windows, windows-2019]
        # for MeshInspector: [ubuntu, ubuntu-latest], [fedora, ubuntu-latest], [emscripten, ubuntu-latest]
      - name: Select matrix
        id: matrix-set
        if: ${{ steps.linux-changes.outputs.src == 'true' }}
        run: |
          echo ${{github.repository}}
          MATRIX=" \
          {\"include\":[ \
          {\"dockerfile\":\"ubuntuDockerfile\",     \"image\":\"ubuntu\",         \"os\":\"ubuntu-latest\"}, \
          {\"dockerfile\":\"ubuntuDockerfile\",     \"image\":\"ubuntu20-pip\",   \"os\":\"ubuntu-latest\"}, \"build-arg\":\"--build-arg MR_BUILD_STATIC_THIRDPARTY=ON\",  \
          {\"dockerfile\":\"ubuntu22Dockerfile\",   \"image\":\"ubuntu22\",       \"os\":\"ubuntu-latest\"}, \
          {\"dockerfile\":\"ubuntuDockerfile\",     \"image\":\"ubuntu-arm64\",   \"os\":[\"self-hosted\", \"linux-arm64\"]}, \
          {\"dockerfile\":\"ubuntu22Dockerfile\",   \"image\":\"ubuntu22-arm64\", \"os\":[\"self-hosted\", \"linux-arm64\"]}, \
          {\"dockerfile\":\"fedora37Dockerfile\",   \"image\":\"fedora37\",       \"os\":\"ubuntu-latest\"}, \
          {\"dockerfile\":\"emscriptenDockerfile\", \"image\":\"emscripten\",     \"os\":\"ubuntu-latest\"}, \
          ]}"
          echo "matrix=$MATRIX" >> $GITHUB_OUTPUT
          echo "$MATRIX"

  linux-image-build-upload:
    needs: [image-select]
    if: ${{ needs.image-select.outputs.need_linux_rebuild == 'true' && !contains(github.event.pull_request.labels.*.name, 'skip-image-rebuild')}}
    timeout-minutes: 60
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.image-select.outputs.matrix)}}
    env:
      DOCKERHUB_BASE_PATH: ${{ needs.image-select.outputs.image_path }}
    steps:
      - name: Remove unused Docker data
        if: ${{ matrix.distribution != 'windows' }}
        run: docker system prune --force --all --volumes

      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: meshlib
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Linux image
        run: docker build -f ./docker/${{matrix.dockerfile}} -t ${{env.DOCKERHUB_BASE_PATH}}-${{matrix.image}}:${{needs.image-select.outputs.image_tag}} . --progress=plain ${{matrix.build-arg}}

      - name: Push Linux image
        run: docker push ${{env.DOCKERHUB_BASE_PATH}}-${{matrix.image}}:${{needs.image-select.outputs.image_tag}}

      - name: Remove unused Docker data
        if: ${{ matrix.image != 'windows' }}
        run: docker system prune --force --all --volumes

  windows-vcpkg-build-upload:
    needs: [image-select]
    if: ${{ false }} # @todo implement
    #if: ${{ needs.image-select.outputs.need_windows_rebuild == 'true' && !contains(github.event.pull_request.labels.*.name, 'skip-image-rebuild')}}
    timeout-minutes: 100
    runs-on: windows-2019
    steps:
      - name: Setup vcpkg
        working-directory: C:\vcpkg
        run: |
          git checkout 2022.11.14
          call bootstrap-vcpkg.bat
          sudo vcpkg integrate install

      - name: Checkout
        uses: actions/checkout@v3

      - name: Build vcpkg
        run: thirdparty\install.bat

      - name: Pack vcpkg
        run: py -3 scripts/devops/vcpkg-package-export.py

      #- name: Upload vcpkg
       # run: