name: Prepare images

on:
  workflow_call:
    secrets:
      BUILD_MACHINE_TOKEN:
        required: false
      DOCKERHUB_TOKEN:
        required: false
    outputs:
      image_tag:
        description: "linux image for testing"
        value: ${{ jobs.image-select.outputs.image_tag }}
      windows_image_tag:
        description: "windows image for testing"
        value: ${{ jobs.image-select.outputs.windows_image_tag }}

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  image-select:
    timeout-minutes: 5
    runs-on: ubuntu-20.04
    outputs:
      image_tag: ${{ steps.select-tag.outputs.image_tag}}
      windows_image_tag: ${{ steps.select-tag.outputs.windows_image_tag}}
      image_path: ${{ steps.set-path.outputs.image_path}}
      need_rebuild: ${{ steps.need-rebuild.outputs.need_rebuild}}
      matrix: ${{ steps.matrix-set.outputs.matrix}}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Filter Linux paths
        uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            src:
              - '.github/workflows/docker-images.yml'
              - 'docker/ubuntu**'
              - 'docker/fedora**'
              - 'docker/emscripten**'
              - 'requirements/!(windows.txt|macos.txt)'              
              - 'scripts/build_thirdparty.sh'    
              - 'scripts/install_apt_requirements.sh'
              - 'scripts/install_dnf_requirements.sh'
              - 'thirdparty/!(install.bat|vcpkg/**)'

      - name: Filter Windows paths
        uses: dorny/paths-filter@v2
        id: windows-changes
        with:
          filters: |
            src:
              - 'docker/windowsDockerfile'
              - 'requirements/windows.txt'
              - 'requirements/python.txt'
              - 'thirdparty/vcpkg/**'
              - 'thirdparty/install.bat'

      - name: Get branch names
        if: ${{steps.changes.outputs.src == 'true' || steps.windows-changes.outputs.src == 'true'}}
        id: branch-name
        uses: tj-actions/branch-names@v6.3

      # if nothing to rebuild: "latest"
      # else: $branch-name | sed -r 's/[^a-zA-Z0-9._-]+/-/
      # example: fix/mesh -> fix-mesh
      - name: Select image tag
        id: select-tag
        run: |
          echo "::set-output name=image_tag::$([ ${{steps.changes.outputs.src}} == 'true' ] && [ ${{github.event_name}} != 'push' ] && echo "${{steps.branch-name.outputs.current_branch}}" | sed -r 's/[^a-zA-Z0-9._-]+/-/g' || \
          echo "latest")"
          echo "::set-output name=windows_image_tag::$([ ${{steps.windows-changes.outputs.src}} == 'true' ] && [ ${{github.event_name}} != 'push' ] && echo "${{steps.branch-name.outputs.current_branch}}" | sed -r 's/[^a-zA-Z0-9._-]+/-/g' || \
          echo "latest")"

      - name: Set image tag base path
        id: set-path
        run: |
          repo_path="MeshRUs/MeshLib"
          echo "::set-output name=image_path::${repo_path,,}"

      - name: Checking whether to start image rebuild
        id: need-rebuild
        run: echo "::set-output name=need_rebuild::${{steps.changes.outputs.src == 'true' || steps.windows-changes.outputs.src == 'true'}}"

        #                    [os,     runner-label ]
        # for MeshLib:       [ubuntu, ubuntu-latest], [fedora, ubuntu-latest], [windows, windows-2019]
        # for MeshInspector: [ubuntu, ubuntu-latest], [fedora, ubuntu-latest], [emscripten, ubuntu-latest]
      - name: Select matrix
        id: matrix-set
        run: |
          echo ${{github.repository}}
          if [ "${{ steps.changes.outputs.src }}" == "true" ] && [ "${{ steps.windows-changes.outputs.src }}" == "true" ]; then
            echo "::set-output name=matrix::{\"include\":[{\"distribution\":\"ubuntu\", \"os\":\"ubuntu-latest\"},{\"distribution\":\"ubuntu22\", \"os\":\"ubuntu-latest\"},{\"distribution\":\"fedora\", \"os\":\"ubuntu-latest\"},{\"distribution\":\"emscripten\", \"os\":\"ubuntu-latest\"},{\"distribution\":\"windows\", \"os\":\"windows-2019\"}]}"                    
          elif [ "${{ steps.changes.outputs.src }}" == "true" ]; then
            echo "::set-output name=matrix::{\"include\":[{\"distribution\":\"ubuntu\", \"os\":\"ubuntu-latest\"},{\"distribution\":\"ubuntu22\", \"os\":\"ubuntu-latest\"},{\"distribution\":\"fedora\", \"os\":\"ubuntu-latest\"},{\"distribution\":\"emscripten\", \"os\":\"ubuntu-latest\"}]}"
          elif [ "${{ steps.windows-changes.outputs.src }}" == "true" ]; then
            echo "::set-output name=matrix::{\"include\":[{\"distribution\":\"windows\", \"os\":\"windows-2019-office\"}]}"      
          fi

  image-build-upload:
    needs: [image-select]
    if: ${{ needs.image-select.outputs.need_rebuild == 'true' }}
    timeout-minutes: 180
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: ${{fromJson(needs.image-select.outputs.matrix)}}
    env:
      DOCKERHUB_BASE_PATH: ${{ needs.image-select.outputs.image_path }}
    steps:
      - name: Remove unused Docker data
        if: ${{ matrix.distribution != 'windows' }}
        run: docker system prune --force --all --volumes

      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: meshrus
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Linux image
        if: ${{ matrix.distribution != 'windows' }}
        run: docker build -f ./docker/${{matrix.distribution}}Dockerfile -t ${{env.DOCKERHUB_BASE_PATH}}-${{matrix.distribution}}:${{needs.image-select.outputs.image_tag}} . --progress=plain

      - name: Build Windows image
        if: ${{ matrix.distribution == 'windows' }}
        run: |
          scripts/runner_instal_vcpkg.bat
          docker build -f ./docker/${{matrix.distribution}}Dockerfile -t ${{env.DOCKERHUB_BASE_PATH}}-${{matrix.distribution}}:${{needs.image-select.outputs.windows_image_tag}} -m 16GB .

      - name: Push Linux image
        if: ${{ matrix.distribution != 'windows' }}
        run: docker push ${{env.DOCKERHUB_BASE_PATH}}-${{matrix.distribution}}:${{needs.image-select.outputs.image_tag}}

      - name: Push Windows image
        if: ${{ matrix.distribution == 'windows' }}
        run: docker push ${{env.DOCKERHUB_BASE_PATH}}-${{matrix.distribution}}:${{needs.image-select.outputs.windows_image_tag}}

      - name: Remove unused Docker data
        if: ${{ matrix.distribution != 'windows' }}
        run: docker system prune --force --all --volumes
