name: Update Release Body

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release Tag (optional)'
        required: false

  release:
    types:
      - released

jobs:
  update-release-body:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Determine latest release tag
        id: latest_release
        run: |
          echo ${{ secrets.BUILD_MACHINE_TOKEN }} | gh auth login --with-token
          LATEST_RELEASE_TAG=$(gh release list --exclude-drafts --repo ${{ github.repository }} --limit 1 | awk '{print $4}')
          echo "::set-output name=tag::${LATEST_RELEASE_TAG}"

      - name: Read release tag
        id: read_tag
        if: github.event.inputs.tag
        run: echo "::set-output name=tag::${{ github.event.inputs.tag }}"

      - name: Set release tag
        id: set_tag
        run: |
          if [[ -z "${{ steps.read_tag.outputs.tag }}" ]]; then
            echo "::set-output name=my_tag::${{ steps.latest_release.outputs.tag }}"
          else
            echo "::set-output name=my_tag::${{ steps.read_tag.outputs.tag }}"
          fi

      - name: Setup Release Table
        run: |
          cp scripts/devops/release_table.txt .
          pattern_path="RELEASE_PATH"
          path_repl="https://github.com/MeshInspector/Meshlib/releases/download/SHORT_VERSION"
          pattern_version='SHORT_VERSION'
          version_repl='${{steps.set_tag.outputs.my_tag}}'
          sed -i "s|${pattern_path}|${path_repl}|g" release_table.txt
          sed -i "s|${pattern_version}|${version_repl}|g" release_table.txt

      - name: Upload New Release Body
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          original_release_body=$(gh release view "${{ steps.set_tag.outputs.my_tag }}" --json body -q '.body')
          release_table=$(cat release_table.txt)
          updated_release_body="${original_release_body//%details_after_publish%/$release_table}"
          echo "${updated_release_body}" > updated_release_body.txt
          gh release edit ${{ steps.set_tag.outputs.my_tag }} --notes-file updated_release_body.txt
