name: Test Distribution

on:
  workflow_call:

jobs:
  linux-test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu:20.04", "ubuntu:22.04", "fedora:37"]
        include:
          - os: "ubuntu:20.04"
            name: "ubuntu20"
            cxx-compiler: /usr/bin/clang++-11
          - os: "ubuntu:22.04"
            name: "ubuntu22"
            cxx-compiler: /usr/bin/clang++-14
          - os: "fedora:37"
            name: "fedora37"
            cxx-compiler: /usr/bin/clang++-15
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{needs.setup.outputs.version_tag}}


      - name: Download Distributive
        uses: actions/download-artifact@v3
        with:
          name: Distributives

      - name: Install Ubuntu Release
        if: ${{ matrix.os != 'fedora:37' }}
        run: |
          export DEBIAN_FRONTEND=noninteractive && apt-get -y update && apt-get -y upgrade && \
            apt-get -y install sudo xvfb curl libssl-dev python3-distutils python3-pip && \
            apt-get -y install ./*${{matrix.name}}*.deb
          python3 -m pip install --upgrade pip
          python3 -m pip install --upgrade -r ./requirements/python.txt

      - name: Install Fedora Release
        if: ${{ matrix.os == 'fedora:37' }}
        run: |
          dnf --refresh -y upgrade
          dnf -y install xorg-x11-server-Xvfb mesa-dri-drivers mesa-libGL-devel libXi-devel python3 curl
          dnf -y install ./*.rpm
          curl -sS https://bootstrap.pypa.io/get-pip.py | python3.9
          python3.9 -m pip install --upgrade -r ./requirements/python.txt

      - name: Debug output
        if: always()
        run: sudo cat /etc/ld.so.conf.d/meshlib_libs.conf

      - name: Run MeshViewer
        if: always()
        run: xvfb-run -a MeshViewer -hidden -noEventLoop

      - name: Show meshconv help
        if: always()
        run: meshconv --help

      - name: Build example
        if: always()
        working-directory: examples/cmake-example
        run: |
          mkdir build && \
          cd build && \
          cmake .. -DCMAKE_CXX_COMPILER=${{matrix.cxx-compiler}} && \
          cmake --build . && \
          ./cmake-example

      - name: Ubuntu python test
        if: ${{ always() && matrix.os != 'fedora:37' }}
        working-directory: test_python
        run: python3 -m pytest -s -v

      - name: Fedora python test
        if: ${{ always() && matrix.os == 'fedora:37' }}
        working-directory: test_python
        run: python3 -m pytest -s -v


  macos-test:
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{needs.setup.outputs.version_tag}}

      - name: Download Distributive
        uses: actions/download-artifact@v3
        with:
          name: Distributives

      - name: Install Pkg
        run: |
          sudo installer -pkg meshlib_x64.pkg  -target /
          xargs brew install < /Library/Frameworks/MeshLib.framework/Versions/Current/requirements/macos.txt

      # [error] NSGL: Failed to find a suitable pixel format
      #- name: Run MeshViewer
        #if: always()
        #run: /Library/Frameworks/MeshLib.framework/Versions/Current/bin/MeshViewer -tryHidden -noEventLoop

      - name: Show meshconv help
        if: always()
        run: /Library/Frameworks/MeshLib.framework/Versions/Current/bin/meshconv --help

      - name: Build example
        if: always()
        working-directory: examples/cmake-example
        run: |
          mkdir build && \
          cd build && \
          cmake .. -DCMAKE_CXX_COMPILER=/usr/bin/clang++ && \
          cmake --build . && \
          ./cmake-example
