name: Update MeshLib Documentation site

on:
  release:
    types: [ published ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  update-documentation:
    runs-on: windows-latest
    steps:
      - name: Install doxygen
        run: choco install doxygen.install

      - name: Checkout MeshLib
        uses: actions/checkout@v2
        with:
          path: 'MeshLib/'

      - name: Checkout doxygen data
        uses: actions/checkout@v2
        with:
          repository: 'MeshInspector/MeshInspector.github.io'
          path: 'MeshInspector.github.io/'
          token: ${{ secrets.MESHINSPECTOR_BOT_TOKEN }}

      - name: Run doxygen
        working-directory: MeshInspector.github.io
        run: C:\Program Files\doxygen\bin\doxygen.exe DoxyfileML.in

      - name: Commit and push changes
        working-directory: MeshInspector.github.io
        run: |
          git config user.email "${{ secrets.MESHINSPECTOR_BOT_EMAIL }}@gmail.com"
          git config user.name "meshinspector-bot"
          git add -A
          git commit --allow-empty -m "Auto update docs" -a
          git push
