name: Update Windows distribution version

on:
  workflow_call:
    inputs:
      vs19_vcpkg_version:
        required: true
        type: string
      app_version:
        required: true
        type: string

jobs:
  update-win-version:
    timeout-minutes: 60
    runs-on: windows-2025
    strategy:
      fail-fast: false
      matrix:
        include:
          - vcpkg_triplet: x64-windows-meshlib
            extract_release: MREDist_Release.zip
            extract_debug: MREDist_Debug.zip
            output_zip: MeshLibDist.zip
            artifact_name: DistributivesWin
          - vcpkg_triplet: x64-windows-meshlib-iterator-debug
            extract_release: MREDist_Release-IteratorDebug.zip
            extract_debug: MREDist_Debug-IteratorDebug.zip
            output_zip: MeshLibDist-IteratorDebug.zip
            artifact_name: DistributivesWin-IteratorDebug
    env:
      vs19_vcpkg_version: ${{ inputs.vs19_vcpkg_version }}
      VCPKG_DEFAULT_TRIPLET: ${{ matrix.vcpkg_triplet || 'x64-windows-meshlib' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Checkout Vcpkg ${{env.vs19_vcpkg_version}}
        working-directory: C:\vcpkg
        run: |
          git fetch
          git checkout ${{env.vs19_vcpkg_version}}

      - name: Restore Vcpkg Cache
        uses: actions/cache@v5
        id: vcpkg-cache
        with:
          key: vcpkg-cache-${{ env.vs19_vcpkg_version }}-${{ matrix.triplet }}
          path: |
            C:\vcpkg\*

      - name: Update vcpkg packages
        run: |
          .\thirdparty\install.bat

      - name: Download Windows Binaries Archive
        uses: actions/download-artifact@v7
        with:
          pattern: WindowsArchive*
          merge-multiple: true

      - name: Extract Windows Binaries
        run: |
          tar -xvzf ${{ matrix.extract_release }}
          tar -xvzf ${{ matrix.extract_debug }}
          tar -xvzf MeshLibC2Headers.zip

      - name: Make Install Folder
        run: py -3.10 scripts\make_install_folder.py ${{ inputs.app_version }} ${{ matrix.triplet }}

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce # v2

      - name: Archive Distribution
        run: py -3.10 scripts\zip_distribution.py install example_plugin ${{ matrix.output_zip }}

      - name: Test Example Plugin # call it after archive not to pack build results
        run: |
          msbuild -m example_plugin\example_plugin.sln -p:Configuration=Debug
          msbuild -m example_plugin\example_plugin.sln -p:Configuration=Release

      - name: Upload Windows Distribution
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.artifact_name }}
          path: ${{ matrix.output_zip }}
          retention-days: 1
