name: Update MeshLib Documentation site

on:
  workflow_call:
    inputs:
      output_folder:
        required: false
        type: string
        default: "MeshLib"

jobs:
  update-documentation:
    runs-on: ubuntu-latest
    steps:
      - name: Install Doxygen
        uses: ssciwr/doxygen-install@ad81ff239f3be5262e2577abce2d728c426fcc59 # v1
        with:
          version: "1.11.0"

      - name: Checkout MeshLib
        uses: actions/checkout@v6
        with:
          path: 'MeshLib/'

      - name: Checkout Doxygen Data
        uses: actions/checkout@v6
        with:
          repository: 'MeshInspector/MeshInspector.github.io'
          path: 'MeshInspector.github.io/'
          token: ${{ secrets.MESHINSPECTOR_BOT_TOKEN }}
          submodules: recursive

      - name: Download Python Stubs
        uses: actions/download-artifact@v7
        continue-on-error: true
        with:
          name: PythonStubs
          path: MeshLib/scripts/wheel/meshlib/meshlib

      - name: Download C bindings headers
        uses: actions/download-artifact@v7
        continue-on-error: true
        with:
          name: CBindings
          path: MeshLib/Cbindings

      - name: Download C# bindings
        uses: actions/download-artifact@v7
        continue-on-error: true
        with:
          name: CsharpBindings
          path: MeshLib/CsharpBindings

      - name: Check for bindings
        id: check_bindings
        run: |
          if [ -d MeshLib/scripts/wheel/meshlib/meshlib ] && [ -d MeshLib/Cbindings ] && [ -d MeshLib/CsharpBindings ] ; then
            echo "all_bindings=true" >> $GITHUB_OUTPUT
          else
            echo "Failed to get Python stub files, aborting"
            echo "all_bindings=false" >> $GITHUB_OUTPUT
          fi

      - name: Build All Documentation
        if: ${{ steps.check_bindings.outputs.all_bindings == 'true' }}
        working-directory: MeshInspector.github.io
        run: scripts/update_doc.sh ${{ inputs.output_folder }} ../MeshLib/scripts/doxygen/Modules.txt

      - name: Commit and push changes
        if: ${{ steps.check_bindings.outputs.all_bindings == 'true' }}
        working-directory: MeshInspector.github.io
        run: |
          git config user.email "${{ secrets.MESHINSPECTOR_BOT_EMAIL }}@gmail.com"
          git config user.name "meshinspector-bot"
          git add -A
          git commit --allow-empty -m "Auto update docs" -a
          git push
