name: Versioning and relese URL
on:
  workflow_call:
    secrets:
      BUILD_MACHINE_TOKEN:
        required: true
    outputs:
      version_tag:
        description: "Version tag"
        value: ${{ jobs.versioning-and-release-url.outputs.version_tag }}
      upload_url:
        description: "URL to draft release"
        value: ${{ jobs.versioning-and-release-url.outputs.upload_url }}

jobs:
  versioning-and-release-url:
    #if: ${{ github.event_name == 'push' }}
    timeout-minutes: 10
    runs-on: [self-hosted]
    outputs:
      version_tag: ${{ steps.version.outputs.version}}
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Versioning
        uses: paulhatch/semantic-version@v4.0.2
        id: version
        with:
          format: "v${major}.${minor}.${patch}.${increment}"
          short_tags: false
          bump_each_commit: false

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.BUILD_MACHINE_TOKEN }}
          RELEASE_PATH: ../../releases/download/${{steps.version.outputs.version}}
        with:
          tag_name: ${{steps.version.outputs.version }}
          release_name: Release ${{steps.version.outputs.version}}
          draft: true
          prerelease: false
          body: |
            Autogenerated release
            <table>
              <thead>
                <tr>
                  <th>OS</th>
                  <th>Dev</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td align="center">Windows x64</td>
                  <td align="center">
                    <a href="${{env.RELEASE_PATH}}/MeshLibDist_${{steps.version.outputs.version}}.zip">zip</a>
                  </td>
                </tr>
                <tr>
                  <td align="center">Ubuntu 20 LTS x64</td>
                  <td align="center">
                    <a href="${{env.RELEASE_PATH}}/meshlib_${{steps.version.outputs.version}}-dev.deb">deb</a>
                  </td>
                </tr>
                  <tr>
                    <td align="center">Fedora 35 x64</td>
                    <td align="center">
                      <a href="${{env.RELEASE_PATH}}/meshlib_${{steps.version.outputs.version}}-dev.rpm">rpm</a>
                    </td>
                  </tr>
                <tr>
                  <td align="center">MacOS</td>
                  <td colspan=3 align="center"> Coming soon! :green_apple:</td>
                </tr>
              </tbody>
            </table>