name: Versioning and relese URL
on:
  workflow_call:
    secrets:
      BUILD_MACHINE_TOKEN:
        required: false
    inputs:
      version-namespace:
        required: false
        type: string
        default: ''
      UPLOAD_ARTIFACTS:
        required: true
        type: boolean
    outputs:
      version:
        description: "Version (with namespace)"
        value: ${{ jobs.versioning-and-release-url.outputs.version }}
      version_tag:
        description: "Version tag (without namespace)"
        value: ${{ jobs.versioning-and-release-url.outputs.version_tag }}
      upload_url:
        description: "URL to draft release"
        value: ${{ jobs.versioning-and-release-url.outputs.upload_url }}

jobs:
  versioning-and-release-url:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    outputs:
      version_tag: ${{ steps.version-tag.outputs.version_tag }}
      version: ${{ steps.version.outputs.version }}
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Checkout
        if: ${{ inputs.UPLOAD_ARTIFACTS }}
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Versioning
        if: ${{ inputs.UPLOAD_ARTIFACTS }}
        uses: paulhatch/semantic-version@v4.0.3
        id: version
        with:
          format: "v${major}.${minor}.${patch}.${increment}"
          short_tags: false
          bump_each_commit: false
          namespace: ${{inputs.version-namespace}}

      - name: Set version tag
        id: version-tag
        run: |
          version_tag=${{steps.version.outputs.version}}
          version_tag=${version_tag%%-*}
          echo "version_tag=${version_tag}" >> $GITHUB_OUTPUT

      - name: Create Release
        if: ${{ inputs.UPLOAD_ARTIFACTS }}
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.BUILD_MACHINE_TOKEN }}
          RELEASE_PATH: https://github.com/${{github.repository}}/releases/download/${{steps.version.outputs.version}}
        with:
          tag_name: ${{steps.version.outputs.version }}
          name: Release ${{steps.version.outputs.version}}
          draft: true
          prerelease: false
          body: |
            Autogenerated release
            <table>
              <thead>
                <tr>
                  <th>OS</th>
                  <th>Dev</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td align="center">Windows x64</td>
                  <td align="center">
                    <a href="${{env.RELEASE_PATH}}/MeshLibDist_${{steps.version.outputs.version}}.zip">zip</a>
                  </td>
                </tr>
                <tr>
                  <td align="center">Ubuntu 20 LTS x64</td>
                  <td align="center">
                    <a href="${{env.RELEASE_PATH}}/meshlib_${{steps.version.outputs.version}}_ubuntu20-dev.deb">deb</a>
                  </td>
                </tr>
                <tr>
                  <td align="center">Ubuntu 22 LTS x64</td>
                  <td align="center">
                    <a href="${{env.RELEASE_PATH}}/meshlib_${{steps.version.outputs.version}}_ubuntu22-dev.deb">deb</a>
                  </td>
                </tr>
                <tr>
                  <td align="center">Fedora 35 x64</td>
                  <td align="center">
                    <a href="${{env.RELEASE_PATH}}/meshlib_${{steps.version.outputs.version}}-dev.rpm">rpm</a>
                  </td>
                </tr>
                <tr>
                  <td align="center">MacOS x64</td>
                  <td align="center">
                    <a href="${{env.RELEASE_PATH}}/meshlib_${{steps.version.outputs.version}}_x64.pkg">x64 pkg</a>
                  </td>
                </tr>
                <tr>
                  <td align="center">MacOS arm</td>
                  <td align="center">
                    <a href="${{env.RELEASE_PATH}}/meshlib_${{steps.version.outputs.version}}_arm.pkg">arm pkg</a>
                  </td>
                </tr>
              </tbody>
            </table>
