name: Versioning and relese URL

on:
  workflow_call:
    secrets:
      BUILD_MACHINE_TOKEN:
        required: false
    inputs:
      version-namespace:
        required: false
        type: string
        default: ''
      UPLOAD_ARTIFACTS:
        required: true
        type: boolean
    outputs:
      tag:
        description: "Version with namespace (if it exists): v1.2.3.4-namespace"
        value: ${{ jobs.versioning-and-release-url.outputs.tag }}
      app_version:
        description: "Version without namespace: v1.2.3.4"
        value: ${{ jobs.versioning-and-release-url.outputs.app_version }}
      short_version:
        description: "Version with only three digits: v1.2.3"
        value: ${{ jobs.versioning-and-release-url.outputs.short_version }}
      upload_url:
        description: "URL to draft release"
        value: ${{ jobs.versioning-and-release-url.outputs.upload_url }}
      release_id:
        description: "release id"
        value: ${{ jobs.versioning-and-release-url.outputs.release_id }}

jobs:
  versioning-and-release-url:
    timeout-minutes: 10
    runs-on: ubuntu-20.04
    outputs:
      tag: ${{ steps.version-tag.outputs.tag }}
      app_version: ${{ steps.version-tag.outputs.app_version }}
      short_version: ${{ steps.version-tag.outputs.short_version }}
      upload_url: ${{ steps.create_release.outputs.upload_url }}
      release_id: ${{ steps.create_release.outputs.id }}
    steps:
      - name: Get job ID
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          python3 scripts/devops/retrieve_job_id.py

      - name: Checkout
        if: ${{ inputs.UPLOAD_ARTIFACTS }}
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Versioning
        if: ${{ inputs.UPLOAD_ARTIFACTS }}
        uses: paulhatch/semantic-version@v5.4.0
        id: version
        with:
          tag_prefix: "v"
          version_format: "v${major}.${minor}.${patch}.${increment}"
          bump_each_commit: false
          search_commit_body: true
          namespace: ${{inputs.version-namespace}}

      - name: Set version tag
        id: version-tag
        run: |
          tag=${{steps.version.outputs.version}}
          echo "tag=${tag}" >> $GITHUB_OUTPUT
          app_version=${{steps.version.outputs.version}}
          app_version=${app_version%%-*}
          echo "app_version=${app_version}" >> $GITHUB_OUTPUT
          short_version=${app_version%.*}
          echo "short_version=${short_version}" >> $GITHUB_OUTPUT

      - name: Create Release
        if: ${{ inputs.UPLOAD_ARTIFACTS }}
        id: create_release
        uses: mikepenz/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.BUILD_MACHINE_TOKEN }}
          RELEASE_PATH: https://github.com/${{github.repository}}/releases/download/${{steps.version-tag.outputs.short_version}}
        with:
          name: Release ${{steps.version.outputs.version}}
          tag_name: ${{steps.version.outputs.version}}
          draft: true
          prerelease: false
          body: |
            Autogenerated release ${{steps.version.outputs.version}}
            https://github.com/${{github.repository}}/commit/${{github.sha}}
            
            %details_after_publish%
